* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: cursive;
}

/* Responsive */

/*for desktop*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-2 {
  width: 50%;
}

/*For mobile*/
@media only screen and (max-width: 480px) {
  [class*="col-"] {
    width: 100%;
  }
}

/*Sliders*/
.container {
  max-width: 1000px;
  width: 100%;
  padding: 5%;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

/*Legend*/

.legend {
  float: left;
}

.legend ul {
  list-style-type: none;
}

.legend li {
  display: flex;
}

.legend-title {
  margin-left: 10px;
  margin-right: 10px;
}

.color-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5%;
  margin-bottom: 15px;
}
