* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* Responsive */

/*for desktop*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-2 {
  width: 50%;
}

/*For mobile*/
@media only screen and (max-width: 420px) {
  [class*="col-"] {
    width: 100%;
  }
}

/*Sliders*/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 1%;
}

#app {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
}

#sliders {
  max-width: 730px;
  width: 100%;
  max-height: 730px;
}

/*Legend*/

.legend {
  width: 350px;
}

.legend ul {
  list-style-type: none;
}

.legend li {
  display: flex;
}

.legend-title {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.legend-amount {
  margin-top: 12px;
  font-weight: bold;
}

.color-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5%;
  margin-bottom: 15px;
}
